<h1 class="text-center mb-3">CSV Service</h1>
<form action="/" method="POST" enctype="multipart/form-data" class="mb-4">
    <div class="form-group">
        <label for="csvFile">Upload CSV file:</label>
        <input type="file" name="csvFile" class="form-control-file">
    </div>
    <button class="btn btn-primary" type="submit">Convert</button>
</form>
<button class="btn btn-primary" onclick="copyToClipboard()">Copy</button>
<pre class="pre-scrollable">{{result}}</pre>

